n8n/submission-workflow.json
{
  "name": "Odevzdání aktivity → GitHub PR",
  "nodes": [
    {
      "id": "node-webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 300],
      "parameters": {
        "path": "submission",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      }
    },
    {
      "id": "node-prepare",
      "name": "Připrav data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [420, 300],
      "parameters": {
        "jsCode": "const item = items[0];\nconst now = Date.now();\n// multipart/form-data: textová pole jsou pod item.json.body\nconst body = item.json.body || item.json;\nconst eventId = String(body.event || '').trim() || 'UNKNOWN';\n\n// Načti binární data fotky (filesystem-v2 storage vyžaduje getBinaryDataBuffer)\nlet photoBase64 = '';\ntry {\n  const buffer = await this.helpers.getBinaryDataBuffer(0, 'photo');\n  photoBase64 = buffer.toString('base64');\n} catch(e1) {\n  try {\n    const buffer = await helpers.getBinaryDataBuffer(item, 'photo');\n    photoBase64 = buffer.toString('base64');\n  } catch(e2) {\n    photoBase64 = (item.binary?.photo?.data ?? '').replace(/[\\r\\n\\s]/g, '');\n  }\n}\n\nreturn [{\n  json: {\n    team:            String(body.team || '').trim(),\n    description:     String(body.description || '').trim(),\n    eventId,\n    branchName:      `submission/${eventId}-${now}`,\n    photoRepoPath:   `public/images/submissions/${eventId}/${now}.jpg`,\n    photoPublicPath: `/images/submissions/${eventId}/${now}.jpg`,\n    activitiesPath:  `public/content/events/${eventId}/activities.json`,\n    activityId:      String(now),\n    photoBase64\n  }\n}];"
      }
    },
    {
      "id": "node-get-head",
      "name": "Načti HEAD main",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [640, 300],
      "parameters": {
        "method": "GET",
        "url": "https://api.github.com/repos/chmelainv/AI-nadsenci-web/git/refs/heads/main",
        "authentication": "genericCredentialType",
        "genericAuthType": "headerAuth",
        "options": {}
      },
      "credentials": {
        "headerAuth": { "name": "GitHub Token" }
      }
    },
    {
      "id": "node-create-branch",
      "name": "Vytvoř větev",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [860, 300],
      "parameters": {
        "method": "POST",
        "url": "https://api.github.com/repos/chmelainv/AI-nadsenci-web/git/refs",
        "authentication": "genericCredentialType",
        "genericAuthType": "headerAuth",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ ref: 'refs/heads/' + $('Připrav data').item.json.branchName, sha: $json.object.sha }) }}",
        "options": {}
      },
      "credentials": {
        "headerAuth": { "name": "GitHub Token" }
      }
    },
    {
      "id": "node-get-activities",
      "name": "Načti activities.json",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1080, 300],
      "continueOnFail": true,
      "parameters": {
        "method": "GET",
        "url": "=https://api.github.com/repos/chmelainv/AI-nadsenci-web/contents/{{ $('Připrav data').item.json.activitiesPath }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "headerAuth",
        "options": {}
      },
      "credentials": {
        "headerAuth": { "name": "GitHub Token" }
      }
    },
    {
      "id": "node-merge-activities",
      "name": "Sestav activities.json",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [1300, 300],
      "parameters": {
        "jsCode": "const item = items[0];\nconst prep = $node['Připrav data'].json;\nconst ghFile = $node['Načti activities.json'].json;\n\n// SHA existujícího souboru — nutné pro GitHub PUT update (bez SHA vrátí 422)\nconst activitiesSha = ghFile?.sha || null;\n\n// Dekóduj stávající activities.json, nebo začni prázdný\nlet current = { eventId: prep.eventId, title: '', activities: [] };\nif (ghFile && ghFile.content) {\n  try {\n    current = JSON.parse(Buffer.from(ghFile.content, 'base64').toString('utf-8'));\n  } catch(e) {}\n}\n\n// Přidej novou aktivitu\ncurrent.activities = current.activities || [];\ncurrent.activities.push({\n  id:          prep.activityId,\n  title:       prep.team,\n  description: prep.description,\n  url:         '',\n  btnLabel:    'Zobrazit',\n  photo:       prep.photoPublicPath\n});\n\nconst newActivitiesBase64 = Buffer.from(JSON.stringify(current, null, 2)).toString('base64');\n\nreturn [{\n  json: {\n    ...prep,\n    newActivitiesBase64,\n    activitiesSha\n  }\n}];"
      }
    },
    {
      "id": "node-put-photo",
      "name": "Nahraj fotku",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1520, 300],
      "parameters": {
        "method": "PUT",
        "url": "=https://api.github.com/repos/chmelainv/AI-nadsenci-web/contents/{{ $json.photoRepoPath }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "headerAuth",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ message: 'submission: foto ' + $json.team, content: $json.photoBase64, branch: $json.branchName }) }}",
        "options": {}
      },
      "credentials": {
        "headerAuth": { "name": "GitHub Token" }
      }
    },
    {
      "id": "node-prepare-json-upload",
      "name": "Připrav JSON upload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [1740, 300],
      "parameters": {
        "jsCode": "// Připraví URL a body pro nahrání activities.json jako plain string\n// (komplexní výrazy v HTTP Request URL/body polích v n8n mohou selhat s 'invalid syntax')\nconst d = $('Sestav activities.json').item.json;\n\nconst bodyObj = {\n  message: 'submission: data ' + d.team,\n  content: d.newActivitiesBase64,\n  branch:  d.branchName\n};\n// SHA je povinné pokud soubor již existuje, jinak GitHub vrátí 422\nif (d.activitiesSha) bodyObj.sha = d.activitiesSha;\n\nreturn [{\n  json: {\n    uploadUrl:  'https://api.github.com/repos/chmelainv/AI-nadsenci-web/contents/' + d.activitiesPath,\n    uploadBody: JSON.stringify(bodyObj),\n    // metadata pro Vytvoř PR\n    team:            d.team,\n    description:     d.description,\n    photoPublicPath: d.photoPublicPath,\n    branchName:      d.branchName\n  }\n}];"
      }
    },
    {
      "id": "node-put-json",
      "name": "Nahraj activities.json",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1960, 300],
      "parameters": {
        "method": "PUT",
        "url": "={{ $json.uploadUrl }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "headerAuth",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.uploadBody }}",
        "options": {}
      },
      "credentials": {
        "headerAuth": { "name": "GitHub Token" }
      }
    },
    {
      "id": "node-create-pr",
      "name": "Vytvoř PR",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [2180, 300],
      "parameters": {
        "method": "POST",
        "url": "https://api.github.com/repos/chmelainv/AI-nadsenci-web/pulls",
        "authentication": "genericCredentialType",
        "genericAuthType": "headerAuth",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ title: '🎯 Aktivita: ' + $('Připrav JSON upload').item.json.team, body: '**Tým:** ' + $('Připrav JSON upload').item.json.team + '\\n\\n**Popis:**\\n' + $('Připrav JSON upload').item.json.description + '\\n\\n**Fotka:** ' + $('Připrav JSON upload').item.json.photoPublicPath, head: $('Připrav JSON upload').item.json.branchName, base: 'main' }) }}",
        "options": {}
      },
      "credentials": {
        "headerAuth": { "name": "GitHub Token" }
      }
    },
    {
      "id": "node-respond",
      "name": "Odpověz 200",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [2400, 300],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"ok\": true }"
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Připrav data", "type": "main", "index": 0 }]]
    },
    "Připrav data": {
      "main": [[{ "node": "Načti HEAD main", "type": "main", "index": 0 }]]
    },
    "Načti HEAD main": {
      "main": [[{ "node": "Vytvoř větev", "type": "main", "index": 0 }]]
    },
    "Vytvoř větev": {
      "main": [[{ "node": "Načti activities.json", "type": "main", "index": 0 }]]
    },
    "Načti activities.json": {
      "main": [[{ "node": "Sestav activities.json", "type": "main", "index": 0 }]]
    },
    "Sestav activities.json": {
      "main": [[{ "node": "Nahraj fotku", "type": "main", "index": 0 }]]
    },
    "Nahraj fotku": {
      "main": [[{ "node": "Připrav JSON upload", "type": "main", "index": 0 }]]
    },
    "Připrav JSON upload": {
      "main": [[{ "node": "Nahraj activities.json", "type": "main", "index": 0 }]]
    },
    "Nahraj activities.json": {
      "main": [[{ "node": "Vytvoř PR", "type": "main", "index": 0 }]]
    },
    "Vytvoř PR": {
      "main": [[{ "node": "Odpověz 200", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
