n8n/submission-workflow.json
{
  "name": "Odevzdání aktivity → GitHub PR",
  "nodes": [
    {
      "id": "node-webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        200,
        300
      ],
      "parameters": {
        "path": "submission",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      }
    },
    {
      "id": "node-prepare",
      "name": "Připrav data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        420,
        300
      ],
      "parameters": {
        "jsCode": "const item = items[0];\nconst now = Date.now();\n// multipart/form-data: textová pole jsou pod item.json.body\nconst body = item.json.body || item.json;\nconst eventId = String(body.event || '').trim() || 'UNKNOWN';\n\n// Načti binární data fotky výrobku\nlet photoBase64 = '';\ntry {\n  const buffer = await this.helpers.getBinaryDataBuffer(0, 'photo');\n  photoBase64 = buffer.toString('base64');\n} catch(e1) {\n  try {\n    const buffer = await helpers.getBinaryDataBuffer(item, 'photo');\n    photoBase64 = buffer.toString('base64');\n  } catch(e2) {\n    photoBase64 = (item.binary?.photo?.data ?? '').replace(/[\\r\\n\\s]/g, '');\n  }\n}\n\n// Načti binární data fotky instrukcí (volitelné)\nlet instructionsBase64 = '';\ntry {\n  const buffer = await this.helpers.getBinaryDataBuffer(0, 'instructions');\n  instructionsBase64 = buffer.toString('base64');\n} catch(e1) {\n  try {\n    const buffer = await helpers.getBinaryDataBuffer(item, 'instructions');\n    instructionsBase64 = buffer.toString('base64');\n  } catch(e2) {\n    instructionsBase64 = (item.binary?.instructions?.data ?? '').replace(/[\\r\\n\\s]/g, '');\n  }\n}\n\nreturn [{\n  json: {\n    team:                  String(body.team || '').trim(),\n    description:           String(body.description || '').trim(),\n    eventId,\n    // Commit přímo do main — žádné PR větve\n    branchName:            'main',\n    photoRepoPath:         `public/images/submissions/${eventId}/${now}.jpg`,\n    photoPublicPath:       `/images/submissions/${eventId}/${now}.jpg`,\n    instructionsRepoPath:  `public/images/submissions/${eventId}/${now}-instructions.jpg`,\n    instructionsPublicPath:`/images/submissions/${eventId}/${now}-instructions.jpg`,\n    activitiesPath:        `public/content/events/${eventId}/activities.json`,\n    activityId:            String(now),\n    photoBase64,\n    instructionsBase64\n  }\n}];"
      }
    },
    {
      "id": "node-get-activities",
      "name": "Načti activities.json",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1080,
        300
      ],
      "continueOnFail": true,
      "parameters": {
        "method": "GET",
        "url": "=https://api.github.com/repos/chmelainv/AI-nadsenci-web/contents/{{ $('Připrav data').item.json.activitiesPath }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "headerAuth",
        "options": {}
      },
      "credentials": {
        "headerAuth": {
          "name": "GitHub Token"
        }
      }
    },
    {
      "id": "node-ocr",
      "name": "OCR instrukcí",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1300,
        300
      ],
      "continueOnFail": true,
      "parameters": {
        "method": "POST",
        "url": "https://api.mistral.ai/v1/ocr",
        "authentication": "genericCredentialType",
        "genericAuthType": "headerAuth",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ model: 'mistral-ocr-latest', document: { type: 'image_url', image_url: 'data:image/jpeg;base64,' + $('Připrav data').item.json.instructionsBase64 } }) }}",
        "options": {}
      },
      "credentials": {
        "headerAuth": {
          "name": "Mistral API Key"
        }
      }
    },
    {
      "id": "node-extract-ocr",
      "name": "Extrahuj text OCR",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1520,
        300
      ],
      "parameters": {
        "jsCode": "const item = items[0];\nlet instructionsText = '';\n// Mistral OCR vrací { pages: [{ markdown: '...' }] }\nif (Array.isArray(item.json?.pages) && item.json.pages.length > 0) {\n  instructionsText = item.json.pages.map(p => p.markdown || '').join('\\n').trim();\n}\n// Fallback: chat completions formát\nif (!instructionsText && item.json?.choices?.[0]?.message?.content) {\n  instructionsText = item.json.choices[0].message.content.trim();\n}\nreturn [{ json: { instructionsText } }];"
      }
    },
    {
      "id": "node-correct-text",
      "name": "Korekce textu",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1740,
        300
      ],
      "continueOnFail": true,
      "parameters": {
        "method": "POST",
        "url": "https://api.mistral.ai/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "headerAuth",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ model: 'mistral-small-latest', messages: [{ role: 'user', content: 'Oprav překlepy, gramatiku a formátování následujícího textu. Zachovej původní jazyk, strukturu a veškerý obsah. Vrať pouze opravený text bez jakéhokoliv komentáře.\\n\\n' + $('Extrahuj text OCR').item.json.instructionsText }], max_tokens: 2000 }) }}",
        "options": {}
      },
      "credentials": {
        "headerAuth": {
          "name": "Mistral API Key"
        }
      }
    },
    {
      "id": "node-extract-correction",
      "name": "Extrahuj korekci",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1960,
        300
      ],
      "parameters": {
        "jsCode": "const item = items[0];\n// Pokud korekce proběhla, použij opravený text\nconst corrected = item.json?.choices?.[0]?.message?.content?.trim() || '';\n// Fallback na původní OCR text\nconst original  = $node['Extrahuj text OCR'].json.instructionsText || '';\nreturn [{ json: { instructionsText: corrected || original } }];"
      }
    },
    {
      "id": "node-merge-activities",
      "name": "Sestav activities.json",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        2180,
        300
      ],
      "parameters": {
        "jsCode": "const item = items[0];\nconst prep = $node['Připrav data'].json;\nconst ghFile = $node['Načti activities.json'].json;\nconst instructionsText = $node['Extrahuj korekci'].json.instructionsText || '';\n\n// SHA existujícího souboru — nutné pro GitHub PUT update (bez SHA vrátí 422)\nconst activitiesSha = ghFile?.sha || null;\n\n// Dekóduj stávající activities.json, nebo začni prázdný\nlet current = { eventId: prep.eventId, title: '', activities: [] };\nif (ghFile && ghFile.content) {\n  try {\n    current = JSON.parse(Buffer.from(ghFile.content, 'base64').toString('utf-8'));\n  } catch(e) {}\n}\n\n// Přidej novou aktivitu\ncurrent.activities = current.activities || [];\ncurrent.activities.push({\n  id:                   prep.activityId,\n  title:                prep.team,\n  description:          prep.description,\n  url:                  '',\n  btnLabel:             'Zobrazit',\n  photo:                prep.photoPublicPath,\n  instructionsPhoto:    prep.instructionsBase64 ? prep.instructionsPublicPath : '',\n  instructionsText\n});\n\nconst newActivitiesBase64 = Buffer.from(JSON.stringify(current, null, 2)).toString('base64');\n\nreturn [{\n  json: {\n    ...prep,\n    newActivitiesBase64,\n    activitiesSha\n  }\n}];"
      }
    },
    {
      "id": "node-put-photo",
      "name": "Nahraj fotku",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        2400,
        300
      ],
      "parameters": {
        "method": "PUT",
        "url": "=https://api.github.com/repos/chmelainv/AI-nadsenci-web/contents/{{ $json.photoRepoPath }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "headerAuth",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ message: 'submission: foto ' + $json.team, content: $json.photoBase64, branch: $json.branchName }) }}",
        "options": {}
      },
      "credentials": {
        "headerAuth": {
          "name": "GitHub Token"
        }
      }
    },
    {
      "id": "node-prepare-instructions-upload",
      "name": "Připrav upload instrukcí",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        2620,
        300
      ],
      "parameters": {
        "jsCode": "// Připraví URL a body pro nahrání fotky instrukcí\n// Pokud instructions nebyly nahrány, vrátí prázdné stringy → Nahraj foto instrukcí selže tiše (continueOnFail)\nconst d = $('Sestav activities.json').item.json;\n\nreturn [{\n  json: {\n    instrUrl:  'https://api.github.com/repos/chmelainv/AI-nadsenci-web/contents/' + d.instructionsRepoPath,\n    instrBody: JSON.stringify({\n      message: 'submission: instrukce ' + d.team,\n      content: d.instructionsBase64,\n      branch:  d.branchName\n    })\n  }\n}];"
      }
    },
    {
      "id": "node-put-instructions",
      "name": "Nahraj foto instrukcí",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        2840,
        300
      ],
      "continueOnFail": true,
      "parameters": {
        "method": "PUT",
        "url": "={{ $json.instrUrl }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "headerAuth",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.instrBody }}",
        "options": {}
      },
      "credentials": {
        "headerAuth": {
          "name": "GitHub Token"
        }
      }
    },
    {
      "id": "node-prepare-json-upload",
      "name": "Připrav JSON upload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        3060,
        300
      ],
      "parameters": {
        "jsCode": "// Připraví URL a body pro nahrání activities.json jako plain string\n// (komplexní výrazy v HTTP Request URL/body polích v n8n mohou selhat s 'invalid syntax')\nconst d = $('Sestav activities.json').item.json;\n\nconst bodyObj = {\n  message: 'submission: data ' + d.team,\n  content: d.newActivitiesBase64,\n  branch:  d.branchName\n};\n// SHA je povinné pokud soubor již existuje, jinak GitHub vrátí 422\nif (d.activitiesSha) bodyObj.sha = d.activitiesSha;\n\nreturn [{\n  json: {\n    uploadUrl:  'https://api.github.com/repos/chmelainv/AI-nadsenci-web/contents/' + d.activitiesPath,\n    uploadBody: JSON.stringify(bodyObj),\n    // metadata pro Vytvoř PR\n    team:            d.team,\n    description:     d.description,\n    photoPublicPath: d.photoPublicPath,\n    branchName:      d.branchName\n  }\n}];"
      }
    },
    {
      "id": "node-put-json",
      "name": "Nahraj activities.json",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        3280,
        300
      ],
      "parameters": {
        "method": "PUT",
        "url": "={{ $json.uploadUrl }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "headerAuth",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.uploadBody }}",
        "options": {}
      },
      "credentials": {
        "headerAuth": {
          "name": "GitHub Token"
        }
      }
    },
    {
      "id": "node-respond",
      "name": "Odpověz 200",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        3720,
        300
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"ok\": true }"
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Připrav data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Připrav data": {
      "main": [
        [
          {
            "node": "Načti activities.json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Načti activities.json": {
      "main": [
        [
          {
            "node": "OCR instrukcí",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OCR instrukcí": {
      "main": [
        [
          {
            "node": "Extrahuj text OCR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrahuj text OCR": {
      "main": [
        [
          {
            "node": "Korekce textu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Korekce textu": {
      "main": [
        [
          {
            "node": "Extrahuj korekci",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrahuj korekci": {
      "main": [
        [
          {
            "node": "Sestav activities.json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sestav activities.json": {
      "main": [
        [
          {
            "node": "Nahraj fotku",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nahraj fotku": {
      "main": [
        [
          {
            "node": "Připrav upload instrukcí",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Připrav upload instrukcí": {
      "main": [
        [
          {
            "node": "Nahraj foto instrukcí",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nahraj foto instrukcí": {
      "main": [
        [
          {
            "node": "Připrav JSON upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Připrav JSON upload": {
      "main": [
        [
          {
            "node": "Nahraj activities.json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nahraj activities.json": {
      "main": [
        [
          {
            "node": "Odpověz 200",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}